@font-face {
    font-family: 'Drive';
    src: url('Drive-Medium.woff2') format('woff2'),
        url('Drive-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-ExtralightItalic.woff2') format('woff2'),
        url('Drive-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Drive Book';
    src: url('Drive-BookItalic.woff2') format('woff2'),
        url('Drive-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-BoldItalic.woff2') format('woff2'),
        url('Drive-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Extralight.woff2') format('woff2'),
        url('Drive-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-ThinItalic.woff2') format('woff2'),
        url('Drive-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Drive Book';
    src: url('Drive-Book.woff2') format('woff2'),
        url('Drive-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-LightItalic.woff2') format('woff2'),
        url('Drive-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Light.woff2') format('woff2'),
        url('Drive-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Extrabold.woff2') format('woff2'),
        url('Drive-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Drive Hairline';
    src: url('Drive-HairlineItalic.woff2') format('woff2'),
        url('Drive-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Drive Hairline';
    src: url('Drive-Hairline.woff2') format('woff2'),
        url('Drive-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Thin.woff2') format('woff2'),
        url('Drive-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-ExtraboldItalic.woff2') format('woff2'),
        url('Drive-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Italic.woff2') format('woff2'),
        url('Drive-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Bold.woff2') format('woff2'),
        url('Drive-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-MediumItalic.woff2') format('woff2'),
        url('Drive-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Drive';
    src: url('Drive-Regular.woff2') format('woff2'),
        url('Drive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

